<footer class="site-footer">

  <div class="wrapper">

            <a href="https://twitter.com/fosibodu "><i class="fa fa-twitter fa-2x "></i></a>
            <a href="https://www.facebook.com/folake.osibodu "><i class="fa fa-facebook fa-2x "></i></a>
            <a href="https://github.com/fosibodu "><i class="fa fa-github fa-2x "></i></a>
            <a href="https://www.linkedin.com/in/fosibodu "><i class="fa fa-linkedin fa-2x "></i></a>
            <br> &copy; 2015 Folake Osibodu


  </div>

</footer>
