<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">Folake Osibodu</a>

        <nav class="site-nav">
            <div class="nav-menu">
                <a class="page-link" href="/work/">Work</a></li>
                <a class="page-link" href="/blog/">Blog</a></li>
                <a class="page-link" href="/about/">About</a></li>
            </div>

            <div class="hamburger-menu">
                <div class="circle">
                    <div class="menu-bar"></div>
                </div>
            </div>
        </nav>

    </div>

</header>