/**
 * Site header
 */
.site-header {
    padding: $spacing-unit 0;

}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    

    &,
    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: $title-font-family;
        text-transform: uppercase;
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:hover {
        text-decoration: none;
    }
    }
    
    .nav-menu {
        display: none;
        float:left;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.hamburger-menu {
    background-color: #6AC1B8;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin:10px;
    float:right;
}

.circle {
    position: absolute;
}

.menu-bar,
.menu-bar:before,
.menu-bar:after {
    background-color: #FFF;
    margin: 16px 5px;
    width: 25px;
    height: 3px;
    position: relative;
    border-radius: 5px;
}

.menu-bar:before {
    margin: -6px auto;
    content: "";
    position: absolute;
}

.menu-bar:after {
    margin: 6px auto;
    content: "";
    position: absolute;
}


/** Index Page **/

.home-section{
    //background: $brand-color;
   padding:150px 0;
    margin: 0 auto;
    text-align: center;
}

.headline {
font-size: 55px;
line-height: 67px;
font-family: $title-font-family;
}

hr {
    width: 403px;
   height: 10px;
    background-color: $brand-color;
border-style: solid;
    margin: 0 auto;
}

/**
 * Site footer
 */
.site-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    margin-bottom: 20px;

}

i{
    color: $text-color;
    padding: 0 5px;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-url {
    font-size: 24px;
    font-weight: 600;
    font-family: "Playfair Display" ;
}


/** Pagination **/

.pagination {
    font-weight: 600;
    text-align: center;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 600;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
