$mobile: new-breakpoint(max-width 667px);
$desktop: new-breakpoint(min-width 850px);
@font-face {
    font-family: CircularStdBook;
    src: url(/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStdMedium;
    src: url(/fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: CircularStdBold;
    src: url(/fonts/CircularStd-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: CircularStdBlack;
    src: url(/fonts/CircularStd-Black.otf);
}
/**body border**/
.border {
    z-index: 999;
    background-color: #fff;
    position: fixed;
}

.border.top,
.border.bottom {
    height: 10px;
    width: 100%;
}

.border.left,
.border.right {
    width: 10px;
    height: 100%;
}

.border.top {
    top: 0;
}

.border.right {
    right: 0;
}

.border.bottom {
    bottom: 0;
}

.border.left {
    left: 0;
}

a {
    border-bottom: 3px solid $second-color;
}

.pagination {
    font-size: 16px;
    & a {
        border: none;
        font-size: 14px;
    }
}
/**
 * Site header
 */
.site-header {
    padding: $spacing-unit 0;
    margin: 0 20px;
}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    border: none;
    &,
    &:hover {
        text-decoration: none;
    }
    
    @include media($mobile){
        width:100%;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    @include media($mobile){
        width:100%;
    }
    .page-link {
        font-family: $title-font-family;
        text-transform: uppercase;
        color: $second-color;
        line-height: $base-line-height;
        border: none;
        // Gaps between nav items, but not on the first one
        &:not(first-child) {
            margin-left: 20px;
        }
        &:hover {
            text-decoration: none;
        }
        .nav-menu {
            display: none;
            float: left;
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            color: $second-color;
        }
        @include media($mobile){
            &:not(first-child){
                margin-left:10px;
            }
    }
    }
}
/** Index Page **/
.home-section {
    margin: 15% 0;
    text-align: center;
}

.headline {
    font-size: 55px;
    line-height: 67px;
    font-family: $title-font-family;
    @include media($mobile) {
        font-size: 36px;
        line-height: normal;
    }
}

.home-hr {
    max-width: 403px;
    height: 10px;
    background-color: $second-color;
    border-style: solid;
    border-color: #6AC1B8;
    margin: 0 auto;
}/**
 * Site footer
 */
.site-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    margin-bottom: 20px;
}

i {
    color: $text-color;
    padding: 0 5px;
}
/**
 * Page content
 */
.page-content {
    padding: 20px 0;
        margin: 0 20px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.date {
    color: $brand-color;
    font-weight: 600;
    text-transform: uppercase;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-url {
    font-size: 24px;
    font-weight: 600;
    color: $second-color;
    border: none;
}

.blog-post {
    margin-bottom: 50px;
}
/** Pagination **/
.pagination {
    font-weight: 600;
    text-align: center;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    margin: 0 auto;
    max-width: 100%;
    font-size: 18px;
    @include span-columns(12);
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*** Work Pages ***/
.work {
    @include outer-container;
}

.work-list-item {
    @include outer-container;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    &:nth-child(5) {
        border: none;
        color: red;
    }
    & .left {
        @include span-columns(5);
        @include media($mobile) {
            @include span-columns(12);
        }
    }
    & .right {
        @include span-columns(7);
        margin-top: 20px;
        @include media($mobile) {
            @include span-columns(12);
            margin: 0;
        }
    }
}

.project-name {
    font-family: $title-font-family;
    font-size: 36px;
    border: none;
}

.project-role {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.work-hr {
    height: 1px;
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
    margin: 50px 0;
}

.dribbble-btn {
    text-align: center;
    margin: 10px 0;
}

.button {
    background: $second-color;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border: none;
    transition: background 0.2s ease;
    &:hover {
        color: #fff;
        background: $brand-color;
    }
}

.section-header {
    font-size: 24px;
    font-weight: 600;
}

.way {
    @include outer-container;
    & div:nth-child(n+2) {
        @include span-columns(12);
        @include media($mobile) {
            @include span-columns(12);
        }
    }
}

.illustration,
.ui,
.animation {
    -webkit-column-width: 350px;
    -webkit-column-gap: 1em;
    & div {
        margin: 10px auto;
        display: inline-block;
    }
}

b {
    font-family: CircularStdBold;
}

.about {
    @include outer-container;
    & div {
        @include span-columns(6);
        @include media($mobile) {
            @include span-columns(12);
            margin-bottom: 10px;
        }
    }
}

.social a {
    border: none;
    &:hover {
        color: $second-color;
    }
}

.social {
    text-align: center;
}